{{template "header.html" .}}
<div class="home">
  <div class="ui stackable middle very relaxed page grid">
    <div class="sixteen wide center aligned centered column">
      <div class="logo">
        <img src="/static/img/favicon.png" />
      </div>
      <div class="hero">
        <h1 class="ui icon header title">
          飞速博客系统
        </h1>
        <h2>一款快速搭建网站站群服务</h2>
      </div>
    </div>
  </div>
  
    <div class="ui stackable middle very relaxed page grid">
      <div class="eight wide center column">
        <h1 class="hero ui icon header">
          <i class="octicon octicon-flame"></i> 易安装
        </h1>
        <p class="large">
          整套系统直接复制到文件夹就能运行启动
        </p>
      </div>
      <div class="eight wide center column">
        <h1 class="hero ui icon header">
          <i class="octicon octicon-device-desktop"></i> 跨平台
        </h1>
        <p class="large">
         支持Linux Windows Mac等系统运行
        </p>
      </div>
    </div>
    <div class="ui stackable middle very relaxed page grid">
      <div class="eight wide center column">
        <h1 class="hero ui icon header">
          <i class="octicon octicon-rocket"></i> 轻量级
        </h1>
        <p class="large">
         采用golang语言开发，内存和CPU占用非常低，执行速度快。
        </p>
      </div>
      <div class="eight wide center column">
        <h1 class="hero ui icon header">
          <i class="octicon octicon-code"></i> 简单易用
        </h1>
        <p class="large">
          功能简单易用，没有复杂的管理后台，容易得就像写微博。
        </p>
      </div>
    </div>
  
</div>
{{template "footer.html" .}}